<!DOCTYPE html>
<html>
<head>
    <title>Listings</title>
</head>
<body>
    <h1>Listings</h1>
    <ul>
        <% if (Array.isArray(data) && data.length > 0) { %>
          <% data.forEach(item => { %>
            <li>
              <strong>ID:</strong> <%= item._id %><br>
              <strong>State:</strong> <%= item.State %><br>
              <strong>Project:</strong> <%= item.project %><br>
              <strong>Group:</strong> <%= item.group %><br>
              <strong>Email:</strong> <%= item.email %><br>
              <strong>Description:</strong> <%= item.description %><br>
            </li>
          <% }); %>
        <% } else { %>
          <li>No data found</li>
        <% } %>
      </ul>
</body>
</html>
